{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Escape Game
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">{{ game_over_message }}</h1>

      <p class="pt-5"><strong>{{ feedback_title }}</strong> {{ message }}</p>

      <div style="text-align: center;"> <p class="pt-5"><strong>Budget</strong> {{ money }} <img style="width: 20px; height: 20px;" src="{{ url_for('static', filename='money.png') }}" /></p><img src="data:image/png;base64, {{ plot_url }}"></div>

    </div>
  </div>
</div>

{% endblock %}